#textdomain wesnoth-Halfelven

[multiplayer_side]
    id=HALEL_rebels_braves
    name= _"Rebels"
    image="units/elves/citizen-sword.png"
    type="Elvish Archer"
    leader="Elvish Archer"
    random_leader="Elvish Archer, Elvish Fighter, Wose"
    recruit="HALEL_elvish_citizen, HALEL_elvish_horseman, HALEL_elvish_healer, HALEL_wose_sapling, HALEL_merman_citizen, HALEL_initiate"
    terrain_liked="Ff, Fa, Ss, Ww"
    # wmllint: markcheck off
    description="<img>src='portraits/elves/citizen.png~BG()' align='middle'</img>

"+_"The <bold>text='Rebels'</bold> are a faction of <ref>text='Elves' dst='..race_elf'</ref> and their various forest-dwelling allies. They get their human name, Rebels, from the time of Heir to the Throne, when they started the rebellion against the evil Queen Asheviere. Elves are a magical race that are masters of the bow and are capable of living many years longer than humans. In harmony with nature, the elves find allies with the <ref>text='human' dst='..race_human'</ref> mages, certain <ref>text='merfolk' dst='..race_merman'</ref>, and tree creatures called <ref>text='Woses' dst='..race_wose'</ref>. Rebels are best played taking advantage of their high forest defense, mastery of ranged attacks, and the elves’ neutral alignment."
    # wmllint: markcheck on
    [ai]
        recruitment_pattern="mixed fighter,mixed fighter,healer,fighter,fighter,scout"
    [/ai]
[/multiplayer_side]
