#textdomain wesnoth-Halfelven
[unit_type]
    id=HALEL_maidenphcolonel
    name= _ "Maiden colonel"
    {SHARED_RACE_CHARACTERISTICS_MAIDENOFFICER}
    usage=healer # this is not representative, it's for the ai
    cost=54
    hitpoints=62
    movement=6
    experience=150
    level=3
    advances_to=null
        {AMLA_DEFAULT}
    [abilities]
		{ABILITY_LEADERSHIP}
    [/abilities]
       	{LEADING_ANIM "units/halfelven/maidens/nymphcommodore-air-attack14.png" "units/halfelven/maidens/nymphcommodore-air-attack16.png" -5,-28}
    [attack]
        name=spear
        description=_"Glaive"
        icon=attacks/glaive-bronze.png
        type=arcane
        range=melee
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/nymphcommodore.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/nymphcommodore.png"
    [/portrait]
    halo=halo/leadership-ma3.png
    image="units/halfelven/maidens/nymphcommodore.png"
    profile="portraits/nymphmaiden.png"
    description= _ "A halfelven nymphcolonel is a senior officer in the maiden army. Having fought many battles, these women give excellent strategic command."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
	{DEFENSE_ANIM "units/halfelven/maidens/nymphcommodore-defend1.png" "units/halfelven/maidens/nymphcommodore-defend2.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=se,ne,sw,nw
        start_time=-200
        [frame]
            image="units/halfelven/maidens/nymphcommodore.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/halfelven/maidens/nymphcommodore-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/halfelven/maidens/nymphcommodore-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack3.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack4.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack5.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack6.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack7.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack8.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack9.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack10.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack11.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack12.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack13.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-attack14.png"
        [/frame]
	[frame]
            duration=50
            image="units/halfelven/maidens/nymphcommodore.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=n
        start_time=-200
        [frame]
            image="units/halfelven/maidens/nymphcommodore.png"
        [/frame]
		[frame]
            duration=200
            image="units/halfelven/maidens/nymphcommodore-n-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=200
				image="units/halfelven/maidens/nymphcommodore-n-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=200
				image="units/halfelven/maidens/nymphcommodore-n-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=200
            image="units/halfelven/maidens/nymphcommodore-n-attack2.png"
        [/frame]
		[frame]
            duration=200
            image="units/halfelven/maidens/nymphcommodore-n-attack1.png"
        [/frame]
	[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=s
        start_time=-200
        [frame]
            image="units/halfelven/maidens/nymphcommodore.png"
        [/frame]
		[frame]
            duration=200
            image="units/halfelven/maidens/nymphcommodore-s-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=200
				image="units/halfelven/maidens/nymphcommodore-s-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=200
				image="units/halfelven/maidens/nymphcommodore-s-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=200
            image="units/halfelven/maidens/nymphcommodore-s-attack2.png"
        [/frame]
		[frame]
            duration=200
            image="units/halfelven/maidens/nymphcommodore-s-attack1.png"
        [/frame]
	[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=spear
            type=impact
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/halfelven/maidens/nymphcommodore.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-blade-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/halfelven/maidens/nymphcommodore-blade-attack2.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/halfelven/maidens/nymphcommodore-blade-attack2.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
        [frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-blade-attack3.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-blade-attack4.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-blade-attack5.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-blade-attack6.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-blade-attack7.png"
        [/frame]
		[frame]
            duration=100
            image="units/halfelven/maidens/nymphcommodore-blade-attack8.png"
        [/frame]
	[frame]
            duration=50
            image="units/halfelven/maidens/nymphcommodore.png"
        [/frame]
    [/attack_anim]

	[pre_movement_anim]
        terrain_type=!,W*,Qx*,Ql*,Ss
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-ground-air1.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-ground-air2.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-ground-air3.png"
		[/frame]
	[/pre_movement_anim]

	[movement_anim]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-move-flying1.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-move-flying2.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-move-flying3.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-move-flying4.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-move-flying5.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-move-flying6.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-move-flying7.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-move-flying8.png"
		[/frame]
	[/movement_anim]

	[post_movement_anim]
        terrain_type=!,W*,Qx*,Ql*,Ss
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-air-ground1.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-air-ground2.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-air-ground3.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-air-ground4.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-air-ground5.png"
		[/frame]
		[frame]
			duration=100
			image="units/halfelven/maidens/nymphcommodore-air-ground6.png"
		[/frame]
	[/post_movement_anim]
	[animation]
		apply_to=flying
		[frame]
			duration=150
			image="units/halfelven/maidens/nymphcommodore-ground-air1.png"
		[/frame]
		[frame]
			duration=150
			image="units/halfelven/maidens/nymphcommodore-ground-air2.png"
		[/frame]
		[frame]
			duration=150
			image="units/halfelven/maidens/nymphcommodore-ground-air3.png"
		[/frame]
	[/animation]
[/unit_type]
